<div class="card border-primary mb-3" style="max-width: 30rem; display:block; margin:0 auto;">
    <div class="card-header"> {{user.genderType}} {{user.firstName}} {{user.lastName|upper}}</div>
    <div class="card-body">
    <div class="row align-items-center text-center">
        <div class="col-md-4">
            {# {% if user.profile.avatar %}
                <img alt="photo de {{ user.username }}" class="avatar" src=" {{  vich_uploader_asset(profile, 'avatarFile') | imagine_filter('avatar') }}">
            {% else %} #}
                {% if user.gender == 0 %}
                    <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/male-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                {% else %}
                    <img alt="photo de {{ user.fullName }}" class="avatar" src=" {{  '/images/woman-avatar.png' | imagine_filter('avatar') }}" alt="Avatar du gestionnaire" title="{{ user.fullName }}">
                {% endif %}
            {# {% endif %} #}
            <hr>
            {% for role in user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                    <p><div class="role">Administrateur</div></p>
                {% endif %}
                {% if role == 'ROLE_PROPERTYMANAGER' %}
                    <p><div class="role">Gestionnaire</div></p>
                {% endif %}
                {% if role == 'ROLE_PROPERTYOWNER' %}
                    <p><div class="role">Propriétaire</div></p>
                {% endif %}  
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h4 class="card-title">{{user.email}}</h4>
            <h4 class="card-title">00-00-00-00-00</h4>
            <p class="card-text mt-2">
                {% if user.profile.description %}
                    <p class="text-left text-info pl-2">{{user.profile.description|nl2br }}</p> 
                {% else %}
                    <p class="text-info">Présentez-vous en quelques mots. Cliquez sur " <a href="{{ path('account.profile') }}">Modifier mon profil</a> " !</p>
                    <p class="text-center text-info h3"><i class="fas fa-angle-double-down"></i></p>
                {% endif %}
            </p>
        </div>
    </div>
    </div>
</div>